.container-sequense{
    width: auto;
    height: 550px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.tittle-sequense{
    color: black;
    align-items: center;
    text-align: center;
    padding: 10px 0 30px 10px;
}
.container-img{
    width: 400px;
    height: 400px;
}